#contactPage {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url("../../assets/back5.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.contactPageTitle {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.clientDesc {
    font-weight: 300;
    font-size: 1.5vw;
}

.clientImgs {
    margin: 6rem 0;
    justify-content: center;
    text-align: center;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

.clientImg {
    object-fit: cover;
    width: 10vw;
    margin: auto;
    margin: 2.25rem;
    border-radius: 100%;
}

#clients {
    padding: 2rem;
}

#contact {
    margin-top: 7rem;
}

.contactDesc {
    padding: 1rem;
    font-size: 20px;
    font-weight: 300;
}

.contactForm {
    margin: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90vw;
    max-width: 60rem;
}

.name, .email, .msg {
    font-size: medium;
    width: 100%;
    max-width: 40rem;
    margin: 0.5rem;
    padding: 0.5rem 1rem;
    color: white;
    border: none;
    border-radius: 0.5rem;
    background: rgb(40,40,40);
}

.submitBtn {
    background: white;
    border: none;
    border-radius: 0.5rem;
    margin: 2rem;
    padding: 0.75rem 3.5rem;
    cursor: pointer;
}

.links {
    display: flex;
    flex-wrap: wrap;
}

.link {
    object-fit: cover;
    height: 3rem;
    width: 3rem;
    margin: 0;
}

.alink {
    margin: 0 1rem;
}

@media screen and (max-width:820px) {
    .contactPageTitle {
        font-size: 5vw;
    }
    .contactDesc {
        font-size: 2.8vw;
    }
}