.navbar {
    height: 5rem;
    width: 100vw;
    max-width: 87rem;
    margin:  0 auto;
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 3;
}

.desktopMenu {
    margin: 1rem;
    cursor: pointer;
    transition: opacity 0.3s ease; /* Smooth transition for opacity */
}

.desktopMenu.scrolled {
    opacity: 0; /* Semi-transparent on scroll */
}

.logo {
    object-fit: cover;
    height: 3rem;
    width: 3rem;
    cursor: pointer;
}

.desktopMenuListItem {
    margin: 1rem;
    cursor: pointer;
}

.desktopMenuListItem:hover {
    color: orange;
    padding-bottom: 0.5rem;
    border-bottom: 2px orange solid;
}

.desktopMenuBtn {
    background: white;
    color: black;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    padding: 0 1rem;
    border-radius: 2rem;
    cursor: pointer;
}

.desktopMenuImg {
    object-fit: cover;
    height: 1rem;
    width: 1rem;
    margin-right: 0.5rem;
}

.active {
    color: orange;
    padding-bottom: 0.5rem;
    border-bottom: 2px solid orange;
}

.navMenu {
    position: absolute;
    top: 4rem;
    right: 2rem;
    z-index: 2;
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    height: fit-content;
    min-width: 15rem;
    background: rgb(40,40,40);
    border-radius: 1rem;
}

.mobMenu {
    display: none;
    object-fit: cover;
    height: 2rem;
}

.listItem {
    color: white;
    padding: 0.5rem 3rem;
    margin: 0.25rem;
    background: rgb(30,30,30);
}

@media  screen and (max-width:820px) {
    .mobMenu {
        display: flex;
    }
    .desktopMenu {
        display: none;
    }
    .desktopMenuBtn {
        display: none;
    }
}