#intro {
    height: calc(100vh - 4rem);
    width: 100vw;
    max-width: 75rem;
    margin: auto;
    overflow: hidden;
}

.introContent {
    height: 100vh;
    width: 100vw;
    padding: 2rem;
    font-size: 3rem;
    font-weight: 700;  
    display: flex;
    flex-direction: column; 
    justify-content: center;
}

.hello {
    font-size: 30px;
    font-weight: 100;
}

.logoText {
    height: 20vh;
    margin: -12rem -3rem -1.2rem -1rem;
}

.altText {
    display: none;
}

.introPara {
    font-size: medium;
    font-weight: 300;
    letter-spacing: 1px;
}

.btn {
    background: white;
    color: black;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    padding: 0 1rem;
    border-radius: 2rem;
    cursor: pointer;
}

.introText {
    display: contents;
}


.btnImg {
    object-fit: cover;
    margin-right: 0.25rem;
    height: 1rem;
}

.logoAC {
    width: 100%;
    margin-top: -100px;
    display: none;
}

@media screen and (max-width:1200px) {
    .introContent {
        font-size: 2.5rem;
    }
    .hello {
        font-size: 25px;
    }
    .logoText {
        height: 18vh;
        margin: -12rem -3rem -1.1rem -1rem;
    }
}

@media screen and (max-width:820px) {
    .bg {
        right: -10vw;
    }
    .introContent {
        font-size: 4vw;
    }
    .hello {
        font-size: 18px;
    }
    .logoText {
        display: none;
    }
    .altText {
        display:contents;
    }
    .introPara {
        font-size: 2vw;
    }
}

@media screen and (max-width:480px) {
    .hello {
        display: none;
    }
    .introText {
        display: none;
    }
    .introPara {
        display: none;
    }
    .logoAC {
        display: contents;
    }
    .introContent {
        margin-top: -70px;
    }
}