* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  background: transparent;
  font-family: 'Poppins', sans-serif;
}

body {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background: rgb(30, 30, 30);
  color: white;
  overflow: hidden;
  overflow-y: scroll;
}

.video-bg {
  width: 100%;
  height: 100vh;
  opacity: 40%;
  position: fixed;
  top: 0;
  left: 0;
  object-fit: cover;
  z-index: -1;
}
