* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.video-bg {
  width: 100%;
  height: 100vh;
  opacity: 40%;
  position: fixed;
  top: 0;
  left: 0;
  object-fit: cover;
  z-index: -1;
}
